* {
  margin: 0;
  padding: 0;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-image: url("Login.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-form {
  width: 100%;
  min-height: 550px;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff1c;
  backdrop-filter: blur(8px);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 3px 3px 3px rgba(89, 80, 80, 0.121);
  border-radius: 15px;
  gap: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.auth-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;

  button {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    cursor: pointer;
  }
}

.input-field {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-label {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
}

.auth-footer a {
  text-decoration: none;
  color: rgb(255, 0, 89);
}
